.list-view {
    margin-top: 79px;
    width: 100%;
}
.notes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 10px;
    height: 135px;
    background-color: white;
    margin: 10px;
    align-items: center;
}

.note:hover {
    cursor: pointer;
}

h2 {
    margin-left: 30px;
    color: white;
}

.note12 {
    width: 95%;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

.note12 .buttons button {
    width: 23px;
    background-color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid grey;
}

.note22 {
    width: 95%;
    height: 80%;
}

.author-date-divider {
    display: flex;
    justify-content: space-between;
}

.check {
    margin-bottom: -1px;
    width: 10px;
}

.delete {
    width: 45%;
}

.buttons {
    width: 18%;
    display: flex;
    justify-content: space-between;
    height: 23px;
}

.text {
    font-size: 11px;
    color: teal;
}