h1 {
    color: white;
    text-align: center;
}

.container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid green;
}

h5 {
    width: 100%;
    text-align: center;
}

img {
    margin-top: -40px;
    margin-bottom: -30px;
}

.btn1 {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: lightcoral; 
    width: 90%;
    margin-left: -1px;
}

.btn1:hover {
    background-color: coral;
    color: teal;
}

.btn2 {
        color: darkred;
        background: transparent;
        border: 2px solid darkred;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        background-color: darkred; 
        width: 90%;
        margin-left: -1px;
}

.btn2:hover {
    background-color: red;
    color: darkred;
}

.side-bar {
    width: 100%;
}

.initials {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: lightcoral;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 40%;
}

Button {
    text-decoration: none;
}