.rightSideContainer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightSideContainer .SignupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  align-items: center;
}
.rightSideContainer .SignupContainer form {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  height: 100%;
}
.rightSideContainer .SignupContainer form h5 {
  color: black;
  text-align: center;
}
.rightSideContainer .SignupContainer form .input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rightSideContainer .SignupContainer form .input-field button {
  border: 1px solid white;
  background: lightcoral;
  color: white;
  border-radius: 2px;
  height: 10%;
}
.rightSideContainer .SignupContainer form .input-field button:hover {
  cursor: pointer;
  background: coral;
}
