.rightScreenContainer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightScreenContainer .SigninContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  align-items: center;
}
.rightScreenContainer .SigninContainer form {
  border: 1px solid lightcoral;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.rightScreenContainer .SigninContainer form h5 {
  color: black;
  text-align: center;
  margin-bottom: -14px;
}
.rightScreenContainer .SigninContainer form .input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rightScreenContainer .SigninContainer form .input-field button {
  border: 1px solid white;
  background: lightcoral;
  color: white;
  border-radius: 3px;
  height: 10%;
}
.rightScreenContainer .SigninContainer form .input-field button:hover {
  cursor: pointer;
}
