.SignupContainer {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
}
.SignupContainer form {
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: grey;
}
.SignupContainer form h5 {
  color: white;
  text-align: center;
}
.SignupContainer form .input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.SignupContainer form .input-field label {
  color: white;
}
.SignupContainer form .input-field input {
  background-color: white;
  margin-bottom: 10px;
}
.SignupContainer form .input-field button {
  border: 1px solid white;
  background: teal;
  color: white;
  border-radius: 2px;
  height: 10%;
}
.SignupContainer form .input-field button:hover {
  cursor: pointer;
}
